body{ 
    background-color: white;
    font: 100% Verdana;
    line-height: 26px;
    margin: 20px;
}

#top{ 
    padding-top: 1px;
    color: #4CAF50;
}

h1{    
    color: #4CAF50;
}

h2{ 
    color: #4CAF50;
}

h3{
    color: #4CAF50;
}

li{    
    background-color: #555555;   
    cursor: pointer;
    border: 1px solid #d4d4d4;
    float: left;
    list-style-type: none;
    text-align: center;
    color: white;
    width: 165px;    
    padding: 2px;    
    margin: 4px;
}

ul{ 
    padding: 0;
    overflow: auto;  
}

li:nth-child(3){ 
    background-color: #04AA6D;
}

li:hover{ 
    background-color: black;
}

#sidebar{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;    
    padding-left: 10px;
}

#bottom{
    font-size: 70%;
    line-height: 14px;
}

#bottom p{ 
    padding: 10px;
    text-align: center;
    margin: 0px;
}

p{     
    color: black;
}

a{ 
    color: black;
}

a:hover{ 
    color: #04AA6D;
}